<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="booyah-box">
        <h1>Enter your place Details</h1>
        <%= simple_form_for @place do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <br/>
        <%= f.submit 'Create', :class => 'btn btn-primary'%>
        <%= link_to 'Cancel', root_path , :class => "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>